html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -70px;
}

#push,footer {
    height: 70px;
}
@media (max-width: 767px) {
    footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

footer {
    background-color: #53777A;
    color: #fff;
}

.navbar-brand {
    padding: 7px 15px;
}

.conest-logo {
    height: 50px;
    width: auto;
}

.noticias {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}

.comentarios {
    margin-top: 15px;
}

.contenido-comentario {
    margin-left: 40px;
}

/* Featurettes
 -*------------------------ */

/* Thin out the marketing headings */
.noticias-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
 -*------------------------------------------------- */

@media (min-width: 768px) {
    
    .noticias-heading {
        font-size: 50px;
    }
    
}

@media (min-width: 992px) {
    .noticias-heading {
        margin-top: 0px;
    }
}